:root{
  --primary-color: whitesmoke;
  --secondary-color: darkgoldenrod;
  --third-color: darkolivegreen;
}


body {
  background: var(--primary-color);
  margin:0;
}

@media (min-width:576){
  p{
    }
}

@media(min-width:1400px){
  p{
}
}


.navbar{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: var(--third-color);
}

a{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color:var(--third-color);
}
button a {
  text-decoration: none;
}

button {
  display: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 8px 10px;
  border-radius: 10px;
  background: var(--secondary-color);
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: black;
}

button:hover {
  background:darkolivegreen;
}

img {
  max-width:120%;
  height:min-content;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Borel", cursive;
  color:darkgoldenrod;
  padding: 25px;
  margin:10px;

}

hr{
  border: 1px dotted lightslategray;
}


p,
label {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: darkolivegreen;
  text-align: left;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.homepage,
.portfolio,
.contact {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 100px;
  margin: 50px;
  flex: 1;
}



.launch-link {
  border-radius: 3px;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px;
  margin: 10px auto;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}

.launch-link:hover{
  background:darkolivegreen;
}